* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f4f4f4;
}

#header {
    background-color: dimgray;
    height: 4rem;
    border-bottom: 3rem solid LightSeaGreen;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

#header h1 {
    font-size: 1.5rem;
    color: white;
}

#title {
    background-color: lightgray;
    height: 31rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about {
    display: flex;
    align-items: center;
    padding: 20px;
}

#about img {
    height: 23.5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

#fav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

#fav ol {
    padding: 0;
    list-style-type: decimal;
    font-size: 14px;
}

h3 {
    color: LightSeaGreen;
    width: 18rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 1.5rem;
}

#wish {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
}

#wish p {
    font-size: 14px;
}